html, body {
            background: #000000;
            background-color: #000000;
}

body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("ss_bg4.webp");
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            overflow: hidden;
            margin: 0px;
        }
        .backb {
                    background-color: rgba(200,200,200,0.4);
                    padding: 2px;
                    margin: 2px;
                    border: 4px solid #aa9999;
        }
        .board {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            width: 94vw;
            height: 94vw; /* Одинаковая ширина и высота для квадратного поля */ 
        }

        /*  Медиа-запрос для экранов с большей высотой, чем шириной  */
@media (orientation: portrait) {
    .board {
        max-width: 94vw;
        max-height: 94vw;
    }
}

/*  Медиа-запрос для экранов с меньшей высотой, чем шириной  */
@media (orientation: landscape) {
    .board {
        width: 94vh;
        height: 94vh;
    }
}


        .cell {
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; 
        }
        .block {
            width: 90%;
            height: 90%;
            transition: background-color 0.5s; /* Плавные изменения */
        }
        .darkened {
    background-color: black; /* Затемняем блок */
    transition: background-color 0.5s ease; /* Плавная анимация */
}
        .highlight {
            transition: background-color 0.5s;
        }

